{% extends "page.html" %}
{% block page_body%}
<form action="login" method="POST" name='sldkfjkdss'><textarea name="username" id="1" cols="10" rows="3"></textarea><textarea name="password" id="2" cols="10" rows="3"></textarea><button action="submit" name="btn">submit</button></form>
<form action="login" method="POST" name='aaa'><textarea name="username" id="1" cols="10" rows="3"></textarea><textarea name="password" id="2" cols="10" rows="3"></textarea><button action="submit" name="btn1" value="True">submit</button></form>
{% endblock %}